<!-- Techniques_Library/templates/technique_detail.html -->
{% extends 'base.html' %}
{% block title %}
Technique Detail
{% endblock %}

{% block content %}
<section class="p-5 mt-4">
    <div class="container">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'techniques_library' %}">Techniques</a></li>
                <li class="breadcrumb-item"><a href="{% url 'category_detail' technique.category.id %}">{{ technique.category }}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'type_detail' technique.type.id %}">{{ technique.type }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ technique.name }}</li>
            </ol>
        </nav>
        
        <!-- Technique Details Card -->
        <div class="card shadow-lg border-light rounded-lg mb-4">
            <div class="card-body bg-light">
                <h2 class="card-title text-center mb-4">{{ technique.name }}</h2>
                {% if technique.video_url %}
                <div class="mb-4">
                    <iframe class="w-100 rounded" height="400" src="{{ technique.video_url }}" frameborder="0" allowfullscreen></iframe>
                </div>
                {% endif %}
                
                <p class="card-text">{{ technique.description }}</p>
                
                <h3 class="mt-4">Details:</h3>
                <ul class="list-unstyled">
                    <li><strong>Category:</strong> {{ technique.category }}</li>
                    <li><strong>Type:</strong> {{ technique.type }}</li>
                    <li><strong>Position:</strong> {{ technique.position }}</li>
                </ul>

                <!-- Follow/Unfollow Button -->
                <div class="mt-4 text-center">
                    {% if user.is_authenticated %}
                        {% if user in technique.followers.all %}
                        <form method="post" action="{% url 'unfollow_technique' technique.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-lg">Unfollow</button>
                        </form>
                        {% else %}
                        <form method="post" action="{% url 'follow_technique' technique.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-lg">Follow</button>
                        </form>
                        {% endif %}
                    {% else %}
                        <p class="text-muted">Please <a href="{% url 'login' %}">log in</a> to follow or unfollow this technique.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Include the specific CSS file for this template -->

{% endblock %}
