<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container-fluid">
        <!-- Toggler button for collapsing navbar on small screens -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Navbar links and dropdown -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Home link -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home_index' %}">Home</a>
                </li>
                <!-- Techniques Library link -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'techniques_library' %}">Techniques Library</a>
                </li>
                <!-- Training Plans link -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'training_plans_index' %}">Training Plans</a>
                </li>
                <!-- Forum link -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'forum_list' %}">Forum</a>
                </li>
            </ul>

            <!-- Search form -->
            <form method="get" action="{% url 'search' %}" class="d-flex input-group w-auto">
                <input type="search" name="q" class="form-control" placeholder="Search Technique or Plans ?" aria-label="Search" />
                <button class="btn btn-outline-primary" type="submit" data-mdb-ripple-color="dark" style="padding: .45rem 1.5rem .35rem;">
                    Search
                </button>
            </form>

            <!-- User account dropdown -->
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(2).jpg" class="rounded-circle img-fluid" height="25" width="25">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end p-1" aria-labelledby="navbarDropdown">
                        {% if user.is_authenticated %}
                            <li><a class="dropdown-item" href="{% url 'profil' %}">Your Account</a></li>
                            <li><a class="dropdown-item" href="{% url 'user_followed_items' %}">My Followed Items</a></li>
                            {% if user.is_redactor %}
                                <li><a class="dropdown-item" href="{% url 'add_technique' %}">Add Technique</a></li>
                                <li><a class="dropdown-item" href="{% url 'add_training_plan' %}">Add Training Plan</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                            <li><a class="dropdown-item" href="{% url 'signup' %}">Sign Up</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

